header {
  padding: 50px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
header h1 {
  margin-top: 0;
  margin-bottom: 10px;
}
header h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.header_text {
  flex: 1 1 420px;
  width: 720px;
  margin-top: -10px;
}
.profession-text {
  color: var(--main-brand-color);
}
.circle {
  height: 500px;
  width: 500px;

  max-height: 80vw;
  max-width: 80vw;

  overflow: hidden;
  border-radius: 50%;
  border: 20px solid var(--main-brand-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.circle img {
  width: 100%;
}
nav {
  margin-bottom: 0;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav a {
  color: var(--secondary-text-color);
  text-decoration: none;
  position: relative;
  padding: 3px;
}
nav a:hover {
  color: var(--text-color);
}
nav a::after {
  content: "";
  height: 2px;
  width: 0;
  background: var(--main-brand-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 150ms ease-in-out;
}
nav a:hover::after {
  width: 100%;
}
#toggle_button {
  display: none;
}
label[for="toggle_button"] {
  display: none;
}
label[for="toggle_button"] span {
  font-size: 40px;
}
.main-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.nav-inner {
  max-width: 1200px;
  margin: 0;
  padding: 15px 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .main-nav {
    position: sticky;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    padding: 15px;
    border-radius: 0 0 25px 0;
  }
  .main-nav ul {
    display: none;
    flex-direction: column;
  }
  #toggle_button:checked ~ ul {
    display: flex;
  }
  label[for="toggle_button"] {
    display: block;
  }
}
